body {
  font-family: Arial, sans-serif;
  background: #111827;
  color: white;
  text-align: center;
}

.container {
  width: 400px;
  margin: 80px auto;
  padding: 25px;
  background: #1f2937;
  border-radius: 12px;
  box-shadow: 0 0 15px black;
}

h1, h2 {
  color: #38bdf8;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

.btn {
  display: block;
  margin-top: 15px;
  padding: 12px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: white;
}

.card {
  margin-top: 20px;
  padding: 15px;
  background: #0f172a;
  border-radius: 10px;
}

.link {
  display: block;
  margin-top: 20px;
  color: #38bdf8;
}
